:where(html) {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-sans: var(--space-grotesk);
  --font-body: var(--font-sans);
  --font-heading: var(--lato);
  --font-alt: var(--abel);

  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
}

a {
  color: #666;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin: 2rem 0 1.38rem;
  &:first-child {
    margin-top: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small {font-size: 0.75rem;}

.title {
  letter-spacing: 0.25em;
  margin: 0.5rem 0 0rem;
  line-height: 1.1;
}

.sub-title {
  color: #666;
  letter-spacing: 0.025em;
  margin: 0 0 0.25em 1.5em;
  line-height: 1.3;
}

p {
  margin: 2rem 0;
  &:first-child {
    margin-top: 0;
  }
}